* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin: auto;
  background-color: #1f2937;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.header, .footer {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  color: #f9faf8;
}

.header ul {
  display: flex;
  gap: 40px;
}

.header .logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: bold;
}

.header a {
  color: #e5e7eb;
  font-size: 18px;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 80px 0;
  font-size: 24px;
}

.hero-text {
  max-width: 500px;
}

.hero-text h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.hero-text p {
  font-size: 18px;
  color: #e5e7eb;
  margin: 14px 0;
}

button {
  padding: 6px 24px;
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 18px;
  font-weight: bold;
  border: 0;
  border-radius: 8px;
}

button:hover {
  background-color: #f9faf8;
  color: #3882f6;
}

.hero-section .img {
  width: 400px;
  height: 200px;
  background-color: grey;
  color: #e5e7eb;
  font-size: 14px;
  display: flex;
  flex: none;
  justify-content: center;
  align-items: center;
}

.card-section {
  background-color: #f9faf8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 100px 0;
  gap: 40px;
}

.card-section .container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.card-section h2 {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}
.card {
  max-width: 200px;
  font-size: 18px;
  text-align: center;
  color: #1f2937;
}

.card-section .img {
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  margin-bottom: 8px;
  background-color: #f9faf8;
  border: 3px solid #3882f6;
  border-radius: 8px;
}

.quote-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
  background-color: #e5e7eb;
}

.quote {
  max-width: 800px;
  color: #1f2937;
}

.quote-section .quote-text {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
}

.quote-section .quote-credit {
  font-size: 24px;
  font-weight: bold;
  text-align: end;
}

.sign-up-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
  background-color: #f9faf8;
}

.sign-up-section .sign-up-container {
  display: flex;
  gap: 60px;
  padding: 40px 80px;
  background-color: #3882f6;
  color: #f9faf8;
  border: 0;
  border-radius: 8px;
}

.sign-up-section h2 {
  font-size: 24px;
  font-weight: bold;
}

.sign-up-section p {
  font-size: 18px;
}

.sign-up-section button {
  border: 2px solid #f9faf8;
}

.footer a {
  color: #f9faf8;
}